.card-valeur{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    border-radius: 22px;

    /* width: 400px; */
    /* height: 200px; */
    /* background-color: brown; */
}
.image-valeur{
    border: 1px solid;
    display: flex;
}
.image-valeur img{
    width: 100%;
    object-fit: cover;
}