.card-service {
    width: 200px;
    height: 150px;
    /* border: 1px solid; */
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card-service:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    /* border: 1px solid; */
    top: 0;
    left: 0;
    backface-visibility: hidden; /* Hide the back face when not visible */
    border-radius: 2.93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

  }
  
  .card-front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    padding: 20px;
  }
  .card-back img{
    width: 35px;
  }
  
  .card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .card-service hr{
    width: 50%;
  }
  .card-text {
    font-size: .9rem;
    font-weight: 600;
    /* border: 1px solid; */
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
  }
  
  .card-back h3 {
    margin-bottom: 5px;
    font-size: .9em;
  }
  
  .card-back p {
    font-size: 0.8rem;
    /* line-height: 1.5; */
    font-family: "Poppins", sans-serif;

  }
  