@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.service{
    background-color: #FDF4E9;
    height: 80vh;
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.service h2{
    margin: 0 auto;
    /* border: 1px solid; */
    width: 175px;
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    background-color: #128081;
    color: #fff;
    font-family: "Comfortaa", sans-serif;
}
.container-service{
    /* border: 1px solid; */
    display: flex; 
    align-items: center;
    justify-content: center;
}
.service-grid-img{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.service-card{
    width: 80%;
    /* border: 1px solid; */
    /* margin: 0 0 0 5px; */
}
.service-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    /* border: 1px solid; */
    /* Centering items within the grid */
    align-items: center;
    justify-items: center;
}
.en-savoir-plus-service{
    text-align: center;
    /* border: 1px solid; */
    width: 100%;
    text-decoration: none;
    color: #128081;
    margin: 0 auto;
    padding-left: 18%;
}